div{
    padding: 10em;
    margin-top: 1em;
    padding-left: 10em;
    color: black;
    margin-left: 45em;
    margin-right: 42em;
    background-color: brown;

}

.col{
    text-align: center;
}
.card1{
    color: whitesmoke;
    font-family: sans-serif;
}

.card2{
    color: whitesmoke;
    font-family: sans-serif;
}
.card3{
    color: whitesmoke;
    font-family: sans-serif;
}
.card4{
    color: whitesmoke;
    font-family: sans-serif;
}
.card5{
    color: whitesmoke;
    font-family: sans-serif;
}
.card6{
    color: whitesmoke;
    font-family: sans-serif;
}
.card7{
    color: whitesmoke;
    font-family: sans-serif;
}
